.nav {
  display: flex;
  justify-content: flex-start;

  padding: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.navLink:hover {
  background-color: #555;
}

.activeNavLink {
  background-color: #555;
}